@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    display: grid; 
    align-items: center; 
    justify-items: center; 
    height: 100vh;
    background-color:hsl(0, 0%, 8%) ;
    overflow-x: hidden;
}

.social-card {
    width: 350px;
    height: 540px;
    background-color:  hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.social-card .user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.social-card .user-info img{
    width: 80px;
    height: auto;
    border-radius: 50px;
}

.social-card .user-info h1{
    margin-top: 15px;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 350;
}

.social-card .user-info h2{
    margin-top: 5px;
    color: hsl(75, 94%, 57%);
    font-size: .75rem;
    font-weight: 500;
}


.social-card .user-tagline{
    margin-top: 20px;
}

.social-card .user-tagline p{
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-size: .80rem;
}

.social-card .user-skills-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.social-card .user-skills-list p{
    width: 290px; 
    height: 40px;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    align-content: center;
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    border-radius: 8px;
}

.social-card .user-skills-list p:hover{
    background-color: hsl(75, 94%, 57%) ;
    color: hsl(0, 0%, 12%);
    font-weight: 600;
}




